*
{
    margin: 0;
    padding: 0;
}
html
{
    font-size: 10px;
}
body
{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, #006466 0%, #212f45 35%, #4d194d 100%);
}
.container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10rem auto;
}
.container h1
{
    font-size: 8rem;
    font-family: 'Cinzel', serif;
    color: #ffd5c2;
    text-align: center;
}
.container h4
{
    font-size: 5rem;
    font-family: 'Josefin Slab', serif;
    color: #89c2d9;
    text-align: center;
    margin-top: 10rem;
}
.container ul
{
    list-style: none;
    display: flex;
    flex-direction: row;
}
.container>.inputName
{
    width: 50rem;
    display: flex;
    flex-direction: row;
    margin: 5rem auto;
    
}
.container>.inputName>#nameInput
{
    font-size: 2.5rem;
    font-family: 'Josefin Slab', serif;
    font-weight: bold;
    color: black;
}
.container>.buttons
{
    display: flex;
    flex-direction:row;
}
.container>.buttons>#button1
{
    font-family: 'Cinzel', serif;
    justify-content: flex-start;  
    margin: 2rem auto;  
    background-color: #cbc0d3;
    border-radius: 5%;
}
.container>.buttons>#button1 a
{
    font-size: 3rem;
    font-weight: bold;
}
.container>.buttons>#button1:hover
{ 
    background-color: transparent;
    transition: 0.5s;
}
.container>.buttons>#button1 a:hover
{
    color: #cbc0d3;
}
.container>.buttons>#button2
{
    font-family: 'Cinzel', serif;
    justify-content: flex-start;  
    margin: 2rem auto;  
    background-color: #cbc0d3;
    border-radius: 5%;
}
.container>.buttons>#button2 a
{
    font-size: 3rem;
    font-weight: bold;
}
.container>.buttons>#button2:hover
{ 
    background-color: transparent;
    transition: 0.5s;
}
.container>.buttons>#button2 a:hover
{
    color: #cbc0d3;
}
#exampleModalLabel
{
    font-size: 4rem;
    font-family: 'Josefin Slab', serif;
    color: #006466;
    text-align: center;
}
#textBody
{
    width: 80rem;
}
#text
{
    font-size: 3rem;
    font-family: 'Josefin Slab', serif;
    color: #212f45;
}
.foot
{
    display: flex;
    flex-direction: row;
    justify-content: center !important;
}
#btnReady
{
    font-size: 2.8rem;
    font-family: 'Josefin Slab', serif;
    color: white;
    background-color: #4d194d;
    border-color: #4d194d !important;
}
#btnReady:hover
{
    background-color: #682e68;
}
#btnGet
{
    text-decoration: none;
    color: white;
}
